<div class="d-flex flex-column p-3 text-white bg-dark" style="height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">내 프로젝트</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="driving.html" class="nav-link text-white" id="nav-driving">
                🚗 출퇴근 기록
            </a>
        </li>
        <li>
            <a href="airsensor.html" class="nav-link text-white" id="nav-airsensor">
                📊 공기질 대시보드
            </a>
        </li>
    </ul>
    <hr>
    <div>
        <small>© 2025 Jeon Seong Yong</small>
    </div>
</div>